<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .separador {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row " style="background-color:black">

            <div class="col-md-4" style="color: white">
                <h3> Entrenador </h3>
            </div>

            <div class="col-md-4" style="text-align:center">
                <span style="color: white; font-size: 18pt ; align-content: center">
                    <%= usuario%>
                </span>
            </div>

            <div class="col-md-4" style="text-align:right">
                <a href="http://localhost:3000/examen/login">
                    <button type="submit" class="btn btn-danger">Salir</button>
                </a>
                </form>
            </div>
        </div>

        <div class="separador"></div>
        <div class=" titulo col-sm-12">
            <div class="form-group text-center">
                <h2>Crear Entrenador</h2>
            </div>
        </div>

        <div class="row ">

            <div class="col-sm-2">

            </div>

            <div class="col-sm-8">
                <form action="/examen/entrenador/crear" class="form-horizontal" method="post">
                    <div class="form-group row">
                        <label for="nombreId" class="control-label col-sm-2">Nombre:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nombreId" name="nombres">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellidosId" class="control-label col-sm-2">Apellidos:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="apellidosId" name="apellidos">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fechaId" class="control-label col-sm-2">Fecha de nacimiento:</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="fechaId" name="fechaNacimiento">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="medallaId" class="control-label col-sm-2">Numero de Medalla:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="medallaId" name="numeroMedalla">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="campeonId" class="control-label col-sm-2">Actual Campeon:</label>
                        <div class="col-sm-3">
                            <input type="checkbox" class="form-control" id="campeonId" name="campeonActual">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="text-center">
                            <a href="http://localhost:3000/examen/lista" class="btn btn-sm btn-primary"
                                role="button">Cancelar
                            </a>
                            <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
                        </div>

                    </div>
                </form>
            </div>

            <div class="col-sm-2">

            </div>

        </div>

</body>

</html>