<!DOCTYPE html>
<html lang="fr"> <!-- Para traducir la pagina-->
<head>
    <title> Peliculas </title>
    <link rel="icon" href="http://localhost:3000/imagenes/nacho.ico">

    <!-- Esto no permite hacer zoom-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <!--
    <h1> TITULO 1 </h1>
    <h2> TITULO 2 </h2>
    <h3> TITULO 3 </h3>
    <h4> TITULO 4 </h4>
    <h5> TITULO 5 </h5>
    <h6> TITULO 6 </h6>

    <p> Este es <span> Este es otro parrafo</span>   un parrafo</p>

    <a href="http://www.google.com" target="_blank" >
    Google externo
    </a>

    
    <a href="http://www.google.com" target="_self" >
    Google aqui mismo
    </a>

    <img src="/imagenes/nacho.png" 
            alt="Club Deportivo Nacional">

            <form action=" ">
                <label for="nombre">Nombre</label>
                <input id="nombre" 
                        type="text">
            </form>
    -->


    <style>
        table, td, th {
            border: solid rgb(0, 0, 0) 1px;
            
        }
    </style>


    <!-- Tablas -->
    <table> 

        <!-- Table Row -->
        <tr>
            <!-- Table Header -->
            <th> Nombre </th>
            <th> Apellidos </th>
        </tr>
        <tr>
            <!-- Table Row -->
            <td> Jose </td>
            <td> Azadobay </td>
        </tr>


    </table>


    <iframe src="https://saew.epn.edu.ec" frameborder="0" width="600" height="600"> </iframe>

    


</body>
</html>